@model IEnumerable<EStar.WebApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h3>Question Categories</h3>

<p style="float:right">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover ">
    <tr style="background-color: #337ab7; color:white">
        <th>
            @Html.Label("Category")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
