@model EStar.WebApp.Models.Review

@{
    ViewBag.Title = "Details";
}

<br />
<h4>Review Details</h4>
<hr />

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.Label("Employee")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.Label("Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Category1)
        </dd>

        <dt>
            @Html.Label("Question")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Question1)
        </dd>
        <dt>
            @Html.Label("Answer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer.Answer1)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
