@model IEnumerable<EStar.WebApp.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h3>Reviews</h3>

<p style="float:right">
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover ">
    <tr style="background-color: #337ab7; color:white">
        <th>
            @Html.Label("Department")
            @*@Html.DisplayNameFor(model => model.Department.Name)*@
        </th>
        <th>
            @Html.Label("Employee")
            @*@Html.DisplayNameFor(model => model.Employee.Name)*@
        </th>
        <th>
            @Html.Label("Category")
            @*@Html.DisplayNameFor(model => model.Category.Category1)*@
        </th>
        <th>
            @Html.Label("Question")
            @*@Html.DisplayNameFor(model => model.Question.Question1)*@
        </th>
        <th>
            @Html.Label("Answer")
            @*@Html.DisplayNameFor(model => model.Answer.Answer1)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Question1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer.Answer1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
